$padding-box: 20px; // 盒子边距

$padding-item: 5px; // 子项边距

$safe-top: 20px; // 顶部安全距离

$safe-bottom: 20px; // 底部安全距离

$background-g-color: rgba(212, 199, 193); // 全局背景颜色

$background-g-blank-color: #fff; // 卡片背景颜色